body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}


img {
    height: 200px;
    border:  10px transparent;
}

nav {
    background-color: antiquewhite;
    border-bottom: 1px solid rgb(230, 115, 115);
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
a {
    text-decoration: none;
}
footer {
    display: flexbox;
    justify-content: center;
    align-items: center;
    background-color: #e492b7;
    border: 16px solid #09b9ad

}
img:hover {
    border-color: rgb(255, 0, 89);
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 5px #97df12;
  }
